<!DOCTYPE html>
<html lang="ja">
  <body>
    <h1>管理画面</h1>
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <h1><%= link_to "Article", admin_articles_path %></h1>
        <h1><%= link_to "Gaers", admin_gears_path %></h1>
        <h1><%= link_to "Campsites", admin_campsites_path %></h1>
        <h1><%= link_to "Users", users_path %></h1>
      </ul>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <%= link_to 'New Master', new_admin_master_path, class: 'btn btn-primary' %>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
      
        <tbody>
          <% @admin_masters.each do |master| %>
            <tr>
              <td><%= master.name %></td>
              <td><%= master.email %></td>
              <td><%= link_to 'Destroy', @master, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>