<!DOCTYPE html>
<html>
  <head>
    <title>CampGLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
          <%= link_to root_path do %>
            <span><%= image_tag "icons/_i_icon_13986_icon_139860_256.png", class: "navbar-brand" %></span>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li>
                <%= link_to favorites_index_path do %>
                  <%= image_tag 'icons/_i_icon_14006_icon_140060_256.png' %>
                <% end %>
              </li>
              <li>
                <%= link_to new_topic_path do %>
                  <%= image_tag "icons/camera.png" %>
                <% end %>
              </li>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <%= image_tag "icons/logout.png" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_path do %>
                  <%= image_tag "icons/register.png" %>
                <% end %>
              </li>
              <li>
                <%= link_to login_path do %>
                  <%= image_tag "icons/login.png" %>
                <% end %>
              </li>
            <% end %>
          </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
